<p>Cropping the map is optional.  You may wish to remove unsightly borders beyond the scanned sheet, or may wish to remove the title / legend and display only the topographuic map itself.  If so, this is the place to do so.  Cropping can be done on both georeferenced and simple map images.  If you don't want to crop anything, click 'Skip'.</p>
<ul>
<li> By default the fields here will contain the locations clicked in the 'rotate' section.  If these are the same points you wish to use for cropping, click Crop</li>
</ul>
<p> Otherwise:</p>
<ul>
<li> Click the pencil icon nect to top-left</li>
<li> Zoom into the top left corner of the area you want included in the map and click on the location of the top-left corner of the desired image</li>
<li> repeat for the other 3 corners</li>
<li> Click Crop</li>
</ul>
<p>Cropping may take a couple of minutes.  The screen will be redisplayed when complete to show the next step.</p>

