<p>Enter the details describing the map.   </p>
<p>The following fields are most important:</p>
<ul>
  <li> Sheet Name: The name/title (in words) of the map sheet </li>
  <li> Series: The series the maps belong to - maps will be grouped by series</li>
  <li> Sheet number: The number of the sheet within the series</li>
  <li> Year printed: The date of publication of the map.  Maps searches are chronological, so date is important</li>
  <li> Scale: the scale (approx if not known) of the map.  This is used to determine what resolutions of maps to generate.  Enter just the denominator (e.g. for 1:50000, enter 50000)
</ul>
<p>Once you've finished, click the Create or Describe button.</p>
