<p><i>If the map you uploaded already contains location information, then this step will show 'done' and is not required.</i></p>
<h1>Projection:</h1>
<p> First, select the projection of the map from the dropdown.  If the projection you require is not shown, contact the site admin. </p>
<ul>
<li> NIYG/SIYG - the yard grid for north and south islands used by 1 inch and other maps until about 1980 </li>
<li> NZMG - the metric grid used until 2009 </li>
<li> NZTM - the most recent metric map grid for the topo50/topo250 series, etc. </li>
<li> Trans Mercator ### - Transverse mercator projections used mainly on large-scale maps.  The number is the reference longitude in decimal degrees. </li>
<li> Generally you will use 'meter/yard' projections.  Only select 'lat/long' projections if your map has <b>squares</b> based on degrees/minutes. 
</ul>

<h1>Choosing reference points:</h1>
<p>If you uploaded a simple map image, then you need to georeference it - tell the system which part of the world the map shows.</p>

<p>You need to select 2 locations on the map in/near opposite corners which either</p> 
<ul>
<li> 1. You know the grid references (preferred) in the map projection</li>
<li> 2. Are well-mapped reference points which you can also locate on the topomaps on this site</li>
</ul>

<h1>1. Georeferencing using grid references</h1>
<ul>
<li> Click the pencil next to <b>point1 (pixels)</b></li>
<li> Click on the first reference point on your uploaded map</li>
<li> Type the grid reference for this point (in the grid system used by the projection you specified above) in <b>point1 (grid)</b></li>
<li> Repeat for point2</li>
<li> Click Georeference</li>
</ul>

<h1>2. Georeferencing using known locations</h1>
<ul>
<li> Click the pencil next to <b>point1 (pixels)</b></li>
<li> Click on the first reference point on your uploaded map</li>
<li> Click on the pencil next to <b>point 1 (grid)</b></li>
<li> Find the same location on the topo map and click on it</li>
<li> Repeat fro point 2</li>
<li> Click Georeference</li>
</ul>
<p>The screen will be redisplayed with the next step shown.  The uploaded map will no longer be displayed - don't worry!</p>
