<p><i>This step is not required for georeferenced maps and will not be enabled if your map contains georeferencing data.</i></p>

<p>Maps that have been scanned from paper copies may not have been scanned squarely on the page.  This section allows you to check if the image is square (horizontally and vertically aligned with the edge of the image) and rotate it accordingly.  If you do not want/need to do this, click 'Skip'.</p>
<p>Otherwise:</p>
<ul>
  <li> Locate an area of the map which you know should be rectangular and in line with the page borders. The outline box round the map is usually best for this</li>
  <li> Click the pencil icon nect to 'Top left'</li>
  <li> zoom into the map on the top left corner of the box and click on the top left corner</li>
  <li> repeat for the other 3 corners of the map</li>
  <li> Click 'Calculate'</li>
</ul>
<p>The screen will be refreshed to show values for the amount of skew on each edge of your map. 
 Look at the skew of the four sides (all numbers are in pixels of rotation from vertical/horizontal, clockwise):</p>
<ul>
<li> If all numbers are close to zero (say &lt10 pixels) then the map is fine</li>
<li> If all four sides are off (non zero) in the same direction (all positive or all negative), and of similar 
values, then the map needs rotating</li>
<li> If all four sides differ greatly in both direction of skew (+/-) and amount - then the map has been is 
stretched / distorted in some more complicated manner.  In this case you are best to use a professional 
georefereincing tool such as the free QGIS to georeference the map, and then upload it here. But feel free to give it a go anyway, if you want.  You can always delete it if it's too inaccurate.</li>
</ul>
<p> If you decide to rotate the map, click 'Rotate', otherwise, click 'Skip'</p>
<p><i>The rotation process may take a few minutes</i></p>
