<p>Maps can either be uploaded from your computer, or downloaded direct from the internet.  Either:</p>
<ul>
  <li> use the Choose File button to select a map; or </li>
  <li> enter the URL where the map can be found on the internet.  This is the URL of the image, not just the page it's found on.  Normally this can be found by navigating to the page containing the image, right-clicking on the image and selecting 'copy Image URL'</li>
</ul>

<p>Click 'Upload' once done.  </p>

<p>The image will be uploaded and converted into the 'tiff' format used by this website.  This process may take a few minutes.  Once complete the status bar will show 'converted', and the screen will be refreshed to show your uploaded map.</p>

<p>If you make a mistake, you can click on the Upload heading and repeat this process to upload a different map.</p>

