<div class="erow-10px"><b><%= link_to "Map Series", '/mapseries/', remote: true, :id => 'all_link', :onclick => "linkHandler('all_link')" %></b>
  <% provide(:title, 'Mapseries' ) %>
  <% @title=" | Mapseries" %>
  <%= render 'flash' %>
  <script>
     update_title('<%=@title%>');
  </script>
  <% if @mapsets %>
    <ul>
      <% @mapsets.each do |ms| %>
        <li>
          <%=link_to ms.name, '/mapseries/'+ms.id.to_s,  remote: true, :id => 'refresh_link', :onclick => "linkHandler('refresh_link')"  %>
        </li>
      <% end %>
    </ul>
  <% end %> 
</div>
  
