<div class="erow">
  <% provide(:title, 'Home') %>
  <% @title=" | Home" %>
  <%= render 'flash' %>
  <script>
     update_title('<%=@title%>');
     hide_uploaded_map();
     if (document.readyState==="completed") document.getElementById("page_status").innerHTML = '';
  </script>
  <h1> Current and historical topographic maps (topomaps) of New Zealand </h1>
  <p> The site hosts 'the latest maps' as of the last day of each decade from 1949 to 2009.  
      Available map series are:</p>
  <ul>
    <li> 1959 NZMS1 1:63360 (1 inch)</li>
    <li> 1969 NZMS1 1:63360 (1 inch)</li>
    <li> 1979 NZMS1 1:63360 (1 inch)</li>
    <li> 1989 NZMS1/NZMS260 transition</li>
    <li> 1999 NZMS260 1:50000</li>
    <li> 2009 Topo50 1:50000</li>
  </ul>
  <p>  Work on 1949 (early NZMS1 1st editions) has yet to commence. Once map generation is completed, improving the web interface is the next goal.</p>
  <p> For queries, comments and corrections please use the 'Discuss' option in the menu </p>
  <p> 
     "This work is based on/includes LINZ’s data which are licensed by Land Information 
     New Zealand (LINZ) for re-use under the Creative Commons Attribution 3.0 New Zealand licence." - See more at: 
     <a href="http://www.linz.govt.nz/linz-copyright">http://www.linz.govt.nz/linz-copyright</a>
  </p>
  <p>Historical maps were scanned by <a href="http://www.library.auckland.ac.nz/databases/record/?record=geodatahub">Auckland Univeristy</a>, and thay also georeferenced most of the post 1960s maps. Other maps were georeferenced here at mapspast, so contact us first for any errors you find.  </p>
</div>
