<% if @print %>
  <div id="map_map"></div>
  <script>
    var print_mode=true;
  </script>
<% else %>
  <div id="map_map" style="z-index:1;position:absolute;"> </div>
  <div id="page_status" style="z-index:9999;position:absolute;right:0;"> </div>
<% end %>
