<div class="erow">
<p>
Warning:  the functionality to allow user to add maps is new and still undergoing testing.
You are welcome to try it out, but be aware that the interface is still pretty basic, and that bugs may exist.
Please leave comments on the forum regarding any issues you have - that way they can be resolved.</p>
<h4>Georeferenced maps</h4>
<p>Georeferenced maps can be loaded onto the system with a minimum of steps</p>
<ul>
  <li>Describe the map</li>
  <li>Upload the map</li>
  <li>Optionally, crop the border off the map</li>
  <li>Click on Create</li>
</ul>
<p>Note that display of georeferenced maps during the upload process will be very slow.</p>
<h4>Plain image maps</h4>
<p>Simple scanned maps can be loaded onto the system with a few extra steps</p>
<ul>
  <li>Describe the map</li>
  <li>Upload the map</li>
  <li>Check if the map is square on the page and rotate if required</li>
  <li>Optionally, crop the border off the map</li>
  <li>Enter the projection of the map</li>
  <li>Provide the coordinates (in the grid system used by the map) for 2 known points on the map, or look them up on the topomaps</li>
  <li>Click on Create</li>
</ul>
<p>Note: During the addition process, maps will disappear from the map panel after they have been georeferenced - it's a bug, don't stress!</p>
<p>Note: Maps of unknown projection are not supported at this time.</p>
<p>Note: Some operations can take several minutes. If the progress indicator stops drawing dots but still says it is processing, try hitting F5 to refresh the screen</p>
<p>Note: Yu can navigate away from the screen whilst maps are processing and come back later to check if processsing has completed.</p>
<p>Note: Once the map is tiled you (or anyone) can view it by selecting it from the mapsheets menu</p>
<p>Note: Only 1 map can be processed at one time.  If someone else is processing a map then your job will be queued until theirs completes</p>
        <%=  link_to "Continue", '/mapsheet/new', class: "btn btn-small btn-primary", remote: true %>
        <%=  link_to "Cancel", '/mapsheet/', class: "btn btn-small btn-primary", remote: true %>

</div>
