<% provide(:title, 'Mapsheet | New' ) %>
<% @title=" | Mapsheet | New" %>
<%= render 'flash' %>
<script>
   update_title('<%=@title%>');
//   hide_uploaded_map();
</script>

<div class="erow">
  This feature is currently disabled.  Please email mattbriggs@yahoo.com if you have mapsheets you would like to add
</div>
