@import "bootstrap";
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
$grayDark: #555;
$gray: #777;
$grayLight: #999;
$grayLighter: #eee;
$grayMediumLight: #eaeaea;
$green: #006600;
.panel{
  float: left;
  height: 100%;
  padding: 2.5px;
}

div.tarea {
        background-color: #ffe0c2;
        font-size: 0.9em;
        line-height: 1em;
        margin-bottom: 6px;

}
.half {
	width: 50%;
	float: left;
}

#mapstatus {
  border:solid;
  text-align:center;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #c2ffe0; 
  line-height: 1.7em;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
  float: right;
  background-color: $grayLight;
}

.name {
   color: $green;
}
.erow {
        width: calc( 100% - 10px);
        float: left;
}
.erow-10px {
        width: calc( 100% - 10px);
        float: left;
        margin-bottom: 10px;
}

.rowtext25 {
        margin-top: 1px;
        padding-left: 25px;
}


.leftbuttons {
        width: 25px;
        float: left;
}

.rightbuttons {
        width: 25px;
        float: right;
        cursor: pointer;
}

.info-box {
        border: double;
        border-color: black;
}

#info-details {
    float: left
}

small {
        font-size: 11px;
        line-height: 14px;

}
.small {
        width: calc( 100% - 7px);
        float: left;
        font-size: 0.9em;
        line-height: 1em;
}

.small input{
        font-size: 0.9em;
        line-height: 1em;
}

.small label{
        font-size: 0.9em;
        line-height: 1em;
}

.clear{
  clear:both;
}

.olTileImage.olImageLoadError {
    display: none !important;
}

.olAlphaImg {
                opacity:0.45;
                filter: alpha(opacity = 45);
}

.olControlLayerSwitcher .layersDiv {
                opacity:0.85;
                filter: alpha(opacity = 85);
                background-color: #D5D5D5;
                -moz-border-radius: 15px 0px 0px 15px;
                border-radius: 15px 0px 0px 15px;
}

.olControlLayerSwitcher {
                color:#666666;
                -moz-border-radius: 15px 0px 0px 15px;
                border-radius: 15px 0px 0px 15px;
                width:15em;
}

.olButton {
                font-weight:500;
}

.labelSpan {
                font-family: "Open Sans","Helvetica Neue","Helvetica","Arial,sans-serif";
}

.olControlLayerSwitcher br {
                display:none;
}

.olControlLayerSwitcher input {
                border-color:#d5d5d5;  
                background-color: #d5d5d5;
                padding-right: 0px;
                padding-bottom: 10px;
                margin-top: 7px;
                margin-right:10px;
                border-radius: 10px;
                -moz-border-radius: 10px;
                float:left;}

.baseLbl {
                display:none;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-size: 0.9em;
  line-height: 1.3em;
}

html, body {
        height: 100%;
        width: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
}

section {
  overflow: auto;
}

input {
  width: calc( 100% - 17px );
}
textarea {
  resize: vertical;
  width: calc( 100% - 17px );
}

.center {
  text-align: center;
  vertical-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 0.9em;
  line-height: 1.2em;
}

ul {
  font-size: 0.9em;
  line-height: 1.2em;
}

#main_page{
 width: 100%;
 height: calc( 100% - 41px );
 padding-top: 41px;
 overflow: hidden;
}


#header
{
        height: 40px;
        background-color: #666;
        margin-bottom: 10px;
        font-size: 0.8em;
}

#logo {
  float: left;
  margin-right: 1%;
  margin-left:1%;
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#our_logo {
  width: calc(100% - 540px);
  height: 24px;
  overflow: hidden;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 6px;
  padding-right: 0px;
  padding-left: 6px;
}

#menus {
  float: right;
  font-size:1.1em;
}

.container{
  float:left;
  width:100%;
  margin-left:2%;
  margin-right:2%;
}


#left_panel_container
{
        width: calc(25% - 7px);
        overflow-y: auto;
        overflow-x: hidden;
        height: calc( 100% - 41px);
        float: left;
        position: fixed;
}

#right_panel
{
        margin-left: 25%;
        width: 75%;
        //overflow: hidden;
        float: left;
        height: 100%;
}


#map_map {
        width: calc(100% - 20px);
        height: calc( 100% - 41px);
        border: 0px;
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0px;
        //float: left;
}


h1 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: $gray;
  font-weight: bold;
  line-height: 1;
}
      
        .olControlPanel {
          margin-left: 40px;
          margin-top: 8px;
        } 
        .olControlPanel button {
          position: relative;
          display: block;
          margin: 2px;
          border: 1px solid;
          padding: 0px 2px;
          border-radius: 4px;
          height: 32px;
          background-color: white;
          float: left;
          overflow: visible; /* needed to remove padding from buttons in IE */
          opacity: 0.6;
          filter: alpha(opacity=60); /* For IE8 and earlier */
          &:hover {
            opacity: 1;
            filter: alpha(opacity=100); /* For IE8 and earlier */
          }
        }
        .olControlPanel button span {
          padding-left: 25px;
        }
        .olControlPanel button span:first-child {
          padding-left: 0;
          display: block;
          position: absolute;
          left: 2px;
        }
        .olControlPanel .olControlUrlItemInactive span:first-child { 
          background-image: url("/assets/link.png");
          height: 24px;
          width: 24px;
          top: 2px;
        }
        .olControlPanel .olControlMaxExtentItemInactive span:first-child { 
          background-image: url("/assets/maxextent.png");
          height: 24px;
          width: 24px;
          top: 2px;
        }
        .olControlPanel .olControlInfoItemInactive span:first-child { 
          background-image: url("/assets/info24.png");
          height: 24px;
          width: 24px;
          top: 2px;
        }
        .olControlPanel .olControlSearchItemInactive span:first-child { 
          background-image: url("/assets/infolist.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 4px;
        }
        .olControlPanel .olControlLayersItemInactive span:first-child {
          background-image: url("/assets/layers24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
        }
        .olControlPanel .olControlKeyItemInactive span:first-child {
          background-image: url("/assets/cog24.png");
          height: 24px;
          width: 24px;
          top: 2px;
          left: 2px;
        }


.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}
