<div class="erow">
  <% provide(:title, 'GIS | GDAL / QGIS') %>
  <% @title=" | GIS | GDAL / QGIS" %>
  <%= render 'flash' %>
  <script>
     update_title('<%=@title%>');
  </script>

<p><b>XML configuration files to load mapspast layers in GDAL-compatable GIS software such as QGIS</b></p>
<p>Save the desired XML file locally on your computer by right clicking on the link below and selecting 'Save As'. Open the saved file as a raster layer using your GIS software.  The map tiles will be fetched from the mapspast server.</p>
<p>This has been tested in QGIS-Lyon.  Simply click the 'open raster' icon and select the XML file.  </p>
<p><a href="http://au.mapspast.org.nz/xml/topo50-2019.xml">topo50-2019.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/topo50-2009.xml">topo50-2009.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms260-1999.xml">nzms260-1999.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms260-1989.xml">nzms260-1989.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms1-1979.xml">nzms1-1979.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms1-1969.xml">nzms1-1969.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms1-1959.xml">nzms1-1959.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms15-1949.xml">nzms15-1949.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms13-1939.xml">nzms13-1939.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms13-1929.xml">nzms13-1929.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms13-1919.xml">nzms13-1919.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms13-1909.xml">nzms13-1909.xml</a></p>
<p><a href="http://au.mapspast.org.nz/xml/nzms13-1899.xml">nzms13-1899.xml</a></p>
<p>&nbsp;</p>
<p>If you are running QGIS behind an HTTP proxy then you need to set the proxy up for GDAL in QGIS as follows (note that this is in addition to setting the QGIS Network proxy):</p>
<ul>
  <li>Navigate to <b>Settings</b> -> <b>Options</b> -> <b>System</b> and scroll to the <b>Environment</b> section</li>
  <li>Click on <b>Add</b></li>
  <li>Specify the variable name: <b>GDAL_HTTP_PROXY</b></li>
  <li>Enter the value as the proxy address in the format <b><i>###.###.###.###:PORT</i></b></li>
  <li>Click <b>OK</b></li>
  <li>Restart QGIS</li>
</ul>
<p>GDAL TMS layers (and presumably any other GDAL layers using HTTP/HTTPs transport) will now be loaded via the proxy specified.</p>
</div>
